.App{
    
   margin-bottom: auto;
   text-align: center;
   color:(yellow,pink);
   padding: 200px;
   background-size: 1150px;
background-image: linear-gradient(blue, #FE4880);

   
}

form
{
    margin-top: 200px;
    border:5px solid black;
        width :300px;
        height: 40%;
    text-align: center;
    margin-left: 36%;
  padding: 40px;
  display: block;
  background-color: aliceblue;
}
div{
   padding: 10px;
}

button{
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    background-image: linear-gradient(pink,blue);
}
